In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [2]:
spark = SparkSession.builder.appName('Distinct Salaries').getOrCreate()

In [3]:
df_input = spark.read.options(header='True', InferSchema='True').csv('twitter_employee.csv')
df_input.show(10)

+---+----------+---------+---+---+--------------+----------+------+------+-----+--------------------+----------+-------+----------+
| id|first_name|last_name|age|sex|employee_title|department|salary|target|bonus|               email|      city|address|manager_id|
+---+----------+---------+---+---+--------------+----------+------+------+-----+--------------------+----------+-------+----------+
|  1|     Allen|     Wang| 55|  F|       Manager|Management|200000|     0|  300|   Allen@company.com|California|   23St|         1|
| 13|     Katty|     Bond| 56|  F|       Manager|Management|150000|     0|  300|   Katty@company.com|   Arizona|   null|         1|
| 19|    George|      Joe| 50|  M|       Manager|Management|100000|     0|  300|  George@company.com|   Florida|   26St|         1|
| 11|   Richerd|     Gear| 57|  M|       Manager|Management|250000|     0|  300| Richerd@company.com|   Alabama|   null|         1|
| 10|  Jennifer|     Dion| 34|  F|         Sales|     Sales|100000|   200|  150|Jennifer@company.com|   Alabama|   null|        13|
| 18|     Laila|     Mark| 26|  F|         Sales|     Sales|100000|   200|  150|   Laila@company.com|   Florida|   23St|        11|
| 20|    Sarrah|    Bicky| 31|  F|  Senior Sales|     Sales|200000|   200|  150|  Sarrah@company.com|   Florida|   53St|        19|
| 21|     Suzan|      Lee| 34|  F|         Sales|     Sales|130000|   200|  150|   Suzan@company.com|   Florida|   56St|        19|
| 22|     Mandy|     John| 31|  F|         Sales|     Sales|130000|   200|  150|   Mandy@company.com|   Florida|   45St|        19|
| 23|   Britney|    Berry| 45|  F|         Sales|     Sales|120000|   200|  100| Britney@company.com|   Florida|   86St|        19|
+---+----------+---------+---+---+--------------+----------+------+------+-----+--------------------+----------+-------+----------+
only showing top 10 rows

In [12]:
df_input.createOrReplaceTempView('log')
df_top_three_salaries = spark.sql("select department,salary from (select department,salary,DENSE_RANK() OVER(partition by department order by salary desc) as rnk from log)tmp where rnk<=3")
df_top_three_salaries.orderBy('department').distinct().show()

+----------+------+
|department|salary|
+----------+------+
|     Audit|110000|
|     Audit|100000|
|     Audit| 70000|
|Management|250000|
|Management|200000|
|Management|150000|
|     Sales|220000|
|     Sales|200000|
|     Sales|150000|
+----------+------+