In [2]:
import pandas as pd

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\debashishc\appdata\local\programs\python\python39\lib\site-packages (3.0.10)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\debashishc\appdata\local\programs\python\python39\lib\site-packages (from openpyxl) (1.1.0)

WARNING: You are using pip version 21.2.3; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\debashishc\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [131]:
pip install fastparquet

Collecting fastparquetNote: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\debashishc\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

  Downloading fastparquet-0.8.3-cp39-cp39-win_amd64.whl (605 kB)
Requirement already satisfied: numpy>=1.18 in c:\users\debashishc\appdata\local\programs\python\python39\lib\site-packages (from fastparquet) (1.22.3)
Requirement already satisfied: packaging in c:\users\debashishc\appdata\local\programs\python\python39\lib\site-packages (from fastparquet) (21.3)
Requirement already satisfied: pandas>=1.1.0 in c:\users\debashishc\appdata\local\programs\python\python39\lib\site-packages (from fastparquet) (1.4.2)
Collecting fsspec
  Using cached fsspec-2022.8.2-py3-none-any.whl (140 kB)
Collecting cramjam>=2.3.0
  Downloading cramjam-2.5.0-cp39-none-win_amd64.whl (993 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\debashishc\appdata\local\programs\python\python39\lib\site-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\debashishc\appdata\local\programs\python\python39\lib\site-packages (from pandas>=1.1.0->fastparquet) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\debashishc\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.1.0->fastparquet) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\debashishc\appdata\local\programs\python\python39\lib\site-packages (from packaging->fastparquet) (3.0.9)
Installing collected packages: fsspec, cramjam, fastparquet
Successfully installed cramjam-2.5.0 fastparquet-0.8.3 fsspec-2022.8.2

In [4]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\debashishc\appdata\local\programs\python\python39\lib\site-packages (3.0.3)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\debashishc\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [185]:
df = pd.read_csv("bureau_reporting_july_31_conversion.csv")
df = df[df['nbfc_name'].notnull()]
df = df.query("nbfc_name != 'quadrillion'")
df = df.convert_dtypes()
df.count()

date_reported          710581
uuid                   710581
nbfc_name              710581
date_opened            710581
latest_payment_date    693797
sanctioned_amount      671205
user_level_dpd          11536
nbfc_user_level_dpd     11259
current_balance        710581
overdue_balance        416593
dtype: int64

In [186]:
df.groupby('nbfc_name').count()

,date_reported,uuid,date_opened,latest_payment_date,sanctioned_amount,user_level_dpd,nbfc_user_level_dpd,current_balance,overdue_balance
nbfc_name,,,,,,,,,
aphelion,108062,108062,108062,105562,95278,129,129,108062,129
cash_suvidha,990,990,990,990,762,0,0,990,0
chaitanya,44224,44224,44224,44213,34000,419,419,44224,419
dmi,374269,374269,374269,362210,366150,7857,7626,374269,311740
dmi_ifund,6665,6665,6665,6665,5600,1,1,6665,1
faircent,28023,28023,28023,28016,27953,5,5,28023,5
garage,10406,10406,10406,10406,8549,3,3,10406,3
ifund,19189,19189,19189,19188,14160,15,15,19189,15
nacl,56843,56843,56843,56241,56843,1390,1350,56843,55649
vivriti,61910,61910,61910,60306,61910,1717,1711,61910,48632

In [172]:
df.dtypes

date_reported           string
uuid                    string
nbfc_name               string
date_opened             string
latest_payment_date     string
sanctioned_amount        Int64
user_level_dpd           Int64
nbfc_user_level_dpd      Int64
current_balance        Float64
overdue_balance          Int64
dtype: object

In [159]:
df['nbfc_name'].unique()

<StringArray>
[         'dmi',         'nacl',       'garage',     'aphelion',
      'vivriti',    'chaitanya',     'faircent',        'ifund',
    'dmi_ifund', 'cash_suvidha']
Length: 10, dtype: string

In [160]:
for name in df['nbfc_name'].unique():
    print(name)

dmi
nacl
garage
aphelion
vivriti
chaitanya
faircent
ifund
dmi_ifund
cash_suvidha

In [187]:
##creating blank template apart from quad
writer = pd.ExcelWriter("Splitted Bereau Report.xlsx", engine ='xlsxwriter')
for name in df['nbfc_name'].unique():
    newDf = df[df['nbfc_name'] == name]
    newDf.to_excel(writer, sheet_name = name, index = False)
    
writer.save()

In [ ]:
##creating blank template for quadrillion
for i in range(3):
    sub_df = df.iloc[(i*1000000):((i+1)*1000000)]
    sub_df.to_excel(f"test-{i}.xlsx", sheet_name="a")