In [7]:
import pandas as pd
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Highest Cost Orders").getOrCreate()

In [8]:
df_customer_input = spark.read.options(header='true', InferSchema='true').csv('customer.csv')
df_order_input = spark.read.options(header='true', InferSchema='true').csv('orders.csv')
df_customer_input.show()
df_order_input.show()

+---+----------+---------+-------------+--------------------+------------+
| id|first_name|last_name|         city|             address|phone_number|
+---+----------+---------+-------------+--------------------+------------+
|  8|      John|   Joseph|San Francisco|                null|928-386-8164|
|  7|      Jill|  Michael|       Austin|                null|813-297-0692|
|  4|   William|   Daniel|       Denver|                null|813-368-1200|
|  5|     Henry|  Jackson|        Miami|                null|808-601-7513|
| 13|      Emma|    Isaac|        Miami|                null|808-690-5201|
| 14|      Liam|   Samuel|        Miami|                null|808-555-5201|
| 15|       Mia|     Owen|        Miami|                null|808-640-5201|
|  1|      Mark|   Thomas|      Arizona|  4476 Parkway Drive|602-993-5916|
| 12|       Eva|    Lucas|      Arizona|     4379 Skips Lane|301-509-8805|
|  6|      Jack|    Aiden|      Arizona|  4833 Coplin Avenue|480-303-1527|
|  2|      Mona|   Adrian|  Los Angeles|     1958 Peck Court|714-409-9432|
| 10|      Lili|   Oliver|  Los Angeles|  3832 Euclid Avenue|530-695-1180|
|  3|    Farida|   Joseph|San Francisco|3153 Rhapsody Street|813-368-1200|
|  9|    Justin|Alexander|       Denver|4470 McKinley Avenue|970-433-7589|
| 11|     Frank|    Jacob|        Miami|  1299 Randall Drive|        null|
+---+----------+---------+-------------+--------------------+------------+

+---+-------+----------+-------------+----------------+
| id|cust_id|order_date|order_details|total_order_cost|
+---+-------+----------+-------------+----------------+
|  1|      3|04-03-2019|         Coat|             100|
|  2|      3|01-03-2019|        Shoes|              80|
|  3|      3|07-03-2019|        Skirt|              30|
|  4|      7|01-02-2019|         Coat|              25|
|  5|      7|10-03-2019|        Shoes|              80|
|  6|     15|01-02-2019|        Boats|             100|
|  7|     15|11-01-2019|       Shirts|              60|
|  8|     15|11-03-2019|      Slipper|              20|
|  9|     15|01-03-2019|        Jeans|              80|
| 10|     15|09-03-2019|       Shirts|              50|
| 11|      5|01-02-2019|        Shoes|              80|
| 12|     12|11-01-2019|       Shirts|              60|
| 13|     12|11-03-2019|      Slipper|              20|
| 14|      4|01-02-2019|        Shoes|              80|
| 15|      4|11-01-2019|       Shirts|              60|
| 16|      3|19-04-2019|       Shirts|              50|
| 17|      7|19-04-2019|         Suit|             150|
| 18|     15|19-04-2019|        Skirt|              30|
| 19|     15|20-04-2019|      Dresses|             200|
| 20|     12|11-01-2019|         Coat|             125|
+---+-------+----------+-------------+----------------+
only showing top 20 rows

In [65]:

df_order = df_order_input.groupBy(['cust_id','order_date']).sum().selectExpr('cust_id','order_date','`sum(total_order_cost)` as total_cost').show()

+-------+----------+----------+
|cust_id|order_date|total_cost|
+-------+----------+----------+
|      7|19-04-2019|       275|
|      5|01-02-2019|        80|
|      4|11-01-2019|        60|
|     15|11-01-2019|        60|
|     15|19-04-2019|        30|
|     15|20-04-2019|       200|
|     15|09-03-2019|        50|
|      3|01-03-2019|        80|
|     15|01-02-2019|       100|
|      3|07-03-2019|        30|
|     15|11-03-2019|        20|
|     12|11-03-2019|        20|
|      3|04-03-2019|       100|
|     12|11-01-2019|       185|
|      7|10-03-2019|        80|
|      7|03-04-2019|        50|
|      4|01-02-2019|        80|
|      3|19-04-2019|        50|
|      7|02-04-2019|        30|
|      7|04-04-2019|        25|
+-------+----------+----------+
only showing top 20 rows

In [61]:
df_grouped_order = df_order.filter((df_order['order_date'] >='01-02-2019') & (df_order['order_date'] >='01-05-2019'))

In [62]:
df_max = df_order.orderBy(desc("total_cost"))

In [63]:
df_output = df_max.join(df_customer_input, df_max.cust_id == df_customer_input.id ,"inner")['first_name','order_date','total_cost'].show(1, False)

+----------+----------+----------+
|first_name|order_date|total_cost|
+----------+----------+----------+
|Jill      |19-04-2019|275       |
+----------+----------+----------+
only showing top 1 row