In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [8]:
spark = SparkSession.builder.appName('Percentage Of Total Spend').getOrCreate()

In [9]:
df_order_input = spark.read.options(header='True', InferSchema='True').csv('orders_amazon.csv')
df_customer_input = spark.read.options(header='True', InferSchema='True').csv('customer.csv')
df_order_input.show()
df_customer_input.show()

+---+-------+----------+-------------+----------------+
| id|cust_id|order_date|order_details|total_order_cost|
+---+-------+----------+-------------+----------------+
|  1|      3|2019-03-04|         Coat|             100|
|  2|      3|2019-03-01|        Shoes|              80|
|  3|      3|2019-03-07|        Skirt|              30|
|  4|      7|2019-02-01|         Coat|              25|
|  5|      7|2019-03-10|        Shoes|              80|
|  6|     15|2019-02-01|        Boats|             100|
|  7|     15|2019-01-11|       Shirts|              60|
|  8|     15|2019-03-11|      Slipper|              20|
|  9|     15|2019-03-01|        Jeans|              80|
| 10|     15|2019-03-09|       Shirts|              50|
| 11|      5|2019-02-01|        Shoes|              80|
| 12|     12|2019-01-11|       Shirts|              60|
| 13|     12|2019-03-11|      Slipper|              20|
| 14|      4|2019-02-01|        Shoes|              80|
| 15|      4|2019-01-11|       Shirts|              60|
| 16|      3|2019-04-19|       Shirts|              50|
| 17|      7|2019-04-19|         Suit|             150|
| 18|     15|2019-04-19|        Skirt|              30|
| 19|     15|2019-04-20|      Dresses|             200|
| 20|     12|2019-01-11|         Coat|             125|
+---+-------+----------+-------------+----------------+
only showing top 20 rows

+---+----------+---------+-------------+--------------------+------------+
| id|first_name|last_name|         city|             address|phone_number|
+---+----------+---------+-------------+--------------------+------------+
|  8|      John|   Joseph|San Francisco|                null|928-386-8164|
|  7|      Jill|  Michael|       Austin|                null|813-297-0692|
|  4|   William|   Daniel|       Denver|                null|813-368-1200|
|  5|     Henry|  Jackson|        Miami|                null|808-601-7513|
| 13|      Emma|    Isaac|        Miami|                null|808-690-5201|
| 14|      Liam|   Samuel|        Miami|                null|808-555-5201|
| 15|       Mia|     Owen|        Miami|                null|808-640-5201|
|  1|      Mark|   Thomas|      Arizona|  4476 Parkway Drive|602-993-5916|
| 12|       Eva|    Lucas|      Arizona|     4379 Skips Lane|301-509-8805|
|  6|      Jack|    Aiden|      Arizona|  4833 Coplin Avenue|480-303-1527|
|  2|      Mona|   Adrian|  Los Angeles|     1958 Peck Court|714-409-9432|
| 10|      Lili|   Oliver|  Los Angeles|  3832 Euclid Avenue|530-695-1180|
|  3|    Farida|   Joseph|San Francisco|3153 Rhapsody Street|813-368-1200|
|  9|    Justin|Alexander|       Denver|4470 McKinley Avenue|970-433-7589|
| 11|     Frank|    Jacob|        Miami|  1299 Randall Drive|        null|
+---+----------+---------+-------------+--------------------+------------+

In [10]:
df_combined = df_order_input.join(df_customer_input, df_order_input.cust_id == df_customer_input.id, 'left').selectExpr('cust_id','order_date','total_order_cost','first_name','last_name')
#df_combined.show()

In [37]:
df_combined.createOrReplaceTempView("fb")
df_most_flagged_video = spark.sql("select cust_id,total_order_cost,avg(total_order_cost) as percetage_spend from fb group by cust_id,total_order_cost order by cust_id")
df_most_flagged_video.show(50)

+-------+----------------+---------------+
|cust_id|total_order_cost|percetage_spend|
+-------+----------------+---------------+
|      3|              50|           50.0|
|      3|             100|          100.0|
|      3|              30|           30.0|
|      3|              80|           80.0|
|      4|              80|           80.0|
|      4|              60|           60.0|
|      5|              80|           80.0|
|      7|              30|           30.0|
|      7|              25|           25.0|
|      7|              80|           80.0|
|      7|             150|          150.0|
|      7|              50|           50.0|
|      7|             125|          125.0|
|     12|              60|           60.0|
|     12|              20|           20.0|
|     12|             125|          125.0|
|     15|              30|           30.0|
|     15|             200|          200.0|
|     15|              50|           50.0|
|     15|             100|          100.0|
|     15|              60|           60.0|
|     15|              20|           20.0|
|     15|              80|           80.0|
+-------+----------------+---------------+