In [2]:
import pandas as pd
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Top Cool Votes").getOrCreate()

In [3]:
df_order_input = spark.read.options(header='true', InferSchema='true').csv('yelp_reviews.csv')
#df_order_input.show()

In [4]:
df_order_input.agg({"cool": "max"})
df_order_input.dtypes

[('business_name', 'string'),
 ('review_id', 'string'),
 ('user_id', 'string'),
 ('stars', 'int'),
 ('review_date', 'string'),
 ('review_text', 'string'),
 ('funny', 'int'),
 ('useful', 'int'),
 ('cool', 'int')]

In [5]:
df_order_input.createOrReplaceTempView("EMP")
spark.sql("select business_name, review_text from "+ " (select business_name, review_text,cool, row_number() OVER (ORDER BY cool DESC) as rn " +" FROM EMP) tmp where rn = 1").show()

+----------------+--------------------+
|   business_name|         review_text|
+----------------+--------------------+
|Tammie Coe Cakes|Overrated. The tr...|
+----------------+--------------------+