In [80]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Workers With The Highest Salaries").getOrCreate()

In [87]:
df_worker_input = spark.read.options(header='true', InferSchema='true', delimiter=',').csv('workers.csv')
df_title_input = spark.read.options(header='true', InferSchema='true', delimiter=',').csv('title.csv')
df_worker_input.show()
df_title_input.show()

+---------+----------+---------+------+----------------+----------+
|worker_id|first_name|last_name|salary|    joining_date|department|
+---------+----------+---------+------+----------------+----------+
|        1|    Monika|    Arora|100000|20-02-2014 09:00|        HR|
|        2|  Niharika|    Verma| 80000|11-06-2014 09:00|     Admin|
|        3|    Vishal|  Singhal|300000|20-02-2014 09:00|        HR|
|        4|    Amitah|    Singh|500000|20-02-2014 09:00|     Admin|
|        5|     Vivek|    Bhati|500000|11-06-2014 09:00|     Admin|
+---------+----------+---------+------+----------------+----------+

+-------------+-------------+----------------+
|worker_ref_id| worker_title|   affected_from|
+-------------+-------------+----------------+
|            1|      Manager|20-02-2016 00:00|
|            2|    Executive|11-06-2016 00:00|
|            8|    Executive|11-06-2016 00:00|
|            5|      Manager|11-06-2016 00:00|
|            4|Asst. Manager|11-06-2016 00:00|
+-------------+-------------+----------------+

In [89]:
df_worker_input.createOrReplaceTempView("worker")
df_max_sal= spark.sql("select worker_id,salary from worker where salary = (select max(salary) from worker) ")

In [90]:
df_max_sal= spark.sql("select worker_id,salary from worker where salary = (select max(salary) from worker) ")

In [91]:
df_output = df_title_input.join(df_max_sal, df_title_input.worker_ref_id == df_max_sal.worker_id, 'inner').selectExpr('worker_title').show()

+-------------+
| worker_title|
+-------------+
|      Manager|
|Asst. Manager|
+-------------+

In [100]:
((1332636 - 952031)/952031 )*100

39.97821499509995

In [101]:
((952031-1332636)/1332636 )*100

-28.560312043198593